appdirs==1.4.4
cffi==1.14.3
click==7.1.2
dataclasses==0.8
distlib==0.3.1
fastapi==0.63.0
filelock==3.0.12
greenlet==0.4.13
h11==0.12.0
importlib-metadata==3.10.1
importlib-resources==5.1.2
pydantic==1.8.1
python-dotenv==0.17.0
PyYAML==5.4.1
readline==6.2.4.1
six==1.15.0
starlette==0.13.6
typing-extensions==3.7.4.3
uvicorn==0.13.4
virtualenv==20.4.3
watchgod==0.7
websockets==8.1
zipp==3.4.1
